**/build/
cmake-build-debug/
.idea/
**.code-workspace
Brewfile.lock.json
examples/umfeld-application-bundle/libs/
cmake-build-debug-event-trace
.DS_Store
build-test-examples/
logs/
Research/umfeld-application-bundle/libs
Research/umfeld-application-bundle/Umfeld.app
